---

snake_version: v4.2.2
snake_platform: linux
snake_architecture: amd64

snake_archive_url: https://github.com/ivan1993spb/snake-server/releases/download/{{ snake_version }}/snake-server-{{ snake_version }}-{{ snake_platform }}-{{ snake_architecture }}.tar.gz

snake_user: snake

snake_systemd_service_name: snake-server

snake_install_path: /usr/local/bin
snake_binary_name: snake-server

snake_gctrace_enable: False

snake_options:
  address: ":8080"
  conns_limit: 10000
  groups_limit: 1000
  enable_broadcast: False
  enable_web: True
  log_json: True
  log_level: info
  tls_enable: False
  tls_cert: /path/to/cert
  tls_key: /path/to/key
